.btn--search ,.mobile-hide ,.copyrightdippalynone,#livechatIframe1646123623781{
    display: none !important;
}
.head-search{
    display: none !important;
}
.entry a{
    margin: 4px;
}
strong ,.main a{
  padding: 0 4px;
}
